body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f8f8f8;
  max-width: 40em;
  margin: 0 auto;
  padding: 1em 0.5em;
}

.Box,
.Card {
  border: solid 0.1em;
  padding: 0.5em 1em;
}
.Card {
  margin: 0.5em 1em;
  background-color: #eee;
}

.Row {
  display: flex;
  gap: 0.5em;
}
.Column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.Cell {
  flex: 1;
}
